.container {
  width: 30%;
  display: flex;
  margin-top: -5rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.container .card {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.container .card .face {
  width: 90%;
  height: 200px;
  transition: 0.5s;
  background-color: #031742;
}

.container .card .face.face1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card .face.face1.blueLight {
  background-color: #031742;
}

.container .card:hover .face.face1 {
  background: #063169;
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 1;
  flex-direction: column;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .card .face.face1 .content img {
  width: 120px;
  object-fit: cover;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .container {
    margin-left: 2rem;
    width: 100%;
    display: block;
  }
}
