@import "./vars";

.bg__home {
  background-image: var(--bg-home);
  height: 100vh;
  position: sticky;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.home__container {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.cards__container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}

.cards__container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 700px) {
  .cards__container {
    display: block;
    height: 100vh;
    margin: 0 auto;
  }
  .bg__home {
    height: 100vh;
  }

  .home__container {
    height: 100vh;
  }
}
