.create__account {
  color: rgb(139, 158, 144);
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-family: var(--font-dmSans);
}

.link__recovery {
  color: white;
}

.right {
  text-align: right;
}

.forgot__password {
  color: white;
  font-size: 1.1rem;
  text-decoration: underline;
}

.register {
  color: white;
  font-size: 1.1rem;
  line-height: 30px;
}

.forgot__password:hover,
.register:hover {
  color: greenyellow;
}

.create__account--link {
  color: beige;
  background-color: var(--btn-green);
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.create__account--link:hover {
  background-color: var(--btn-green-hover);
}

@media screen and (max-width: 700px) {
  .create__account {
    text-align: center;
    font-size: 1rem;
  }
  .create__account--link {
    margin-left: 0.1rem;
  }
}
